.hero {
  width: 100%;
  height: 70vh;
  display: flex;
  margin-bottom: 4vh;
}

.main-left {
  display: flex;
  width: 65%;
  position: relative;
  flex-direction: column;
  padding-left: 7%;
  padding-top: 4%;
}

.shopAndSave h1 {
  font-size: 100px;
  color: white;
  line-height: 1.6;
}

.left-writ-tex h3 {
  font-size: 30px;
  color: #ffffff;
}

.studentEssentail h4 {
  font-size: 30px;
  margin-bottom: 30px;
  color: white;
}

.buy-now-btn {
  font-size: 30px;
  padding: 10px 55px;
  font-weight: 800;
  background: rgba(223, 78, 78, 1);
  color: #ffffff;
  overflow: visible;
  cursor: pointer;
}

.btn {
  margin-top: 30px;
  height: 50px;
}

.btn a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 30px;
}

.btn a span {
  padding: 9px;
  transition: 0.5s;
  position: relative;
}
.btn a span:nth-child(1) {
  color: #fff;
  background: #262626;
}
.btn a span:nth-child(2) {
  color: #fff;
  background: #ff3636;
}
.btn a span:nth-child(1):before {
  content: attr(data-attr);
  position: absolute;
  top: 0;
  left: 0;
  background: #ff3636;
  padding: 15px;
  transition: 0.5s;
  transform-origin: top;
  transform: rotateX(90deg) translateY(-50%);
}
.btn a:hover span:nth-child(1):before {
  transform: rotateX(0deg) translateY(0%);
}
.btn a span:nth-child(2):before {
  content: attr(data-attr);
  position: absolute;
  top: 0;
  left: 0;
  background: #262626;
  padding: 15px;
  transition: 0.5s;
  transform-origin: bottom;
  transform: rotateX(90deg) translateY(50%);
}
.btn a:hover span:nth-child(2):before {
  transform: rotateX(0deg) translateY(0%);
}
.btn a span:nth-child(1):after {
  content: attr(data-attr);
  padding: 15px;
  position: absolute;
  top: 0;
  left: 0;
  background: #262626;
  transform-origin: bottom;
  transform: rotateX(0deg) translateY(0%);
  transition: 0.5s;
}
.btn a:hover span:nth-child(1):after {
  transform: rotateX(90deg) translateY(50%);
}
.btn a span:nth-child(2):after {
  content: attr(data-attr);
  position: absolute;
  top: 0;
  left: 0;
  background: #ff3636;
  padding: 15px;
  transition: 0.5s;
  transform-origin: top;
  transform: rotateX(0deg) translateY(0%);
}
.btn a:hover span:nth-child(2):after {
  transform: rotateX(90deg) translateY(-50%);
}

.main-right {
  width: 35%;
  position: absolute;
  right: 0;
  z-index: -1;
}

.right-image {
  /* display: flex;
   justify-content: end; */
  justify-content: flex-end;
}

.right-image img {
  width: 100%;
  height: 65vh;
}

.contact-button {
  /* width: 100vw; */
  display: flex;

  justify-content: space-evenly;
}

.whatsapp-btn {
  display: flex;
  font-size: 2vw;
  padding: 10px 55px;
  font-weight: 800;
  background-color: #128c7e;
  color: #ffffff;
  cursor: pointer;
  transition: 0.4s all ease-in-out;
}
#WhatsApp_icon_35px {
  height: 27px;
  width: 27px;
}

.join-telegrma-btn {
  display: flex;
  font-size: 2vw;
  padding: 10px 55px;
  font-weight: 800;
  background-color: #0088cc;
  color: #ffffff;
  cursor: pointer;

  transition: 0.4s all ease-in-out;
}

#telegram_icon_45px {
  height: 27px;
  width: 27px;
}
.whatsapp-btn:hover {
  background-color: #ffffff;
  box-shadow: 0px 5px 5px rgba(11, 209, 61, 0.4);
  color: #128c7e;
}
.join-telegrma-btn:hover {
  background-color: #ffffff;
  box-shadow: 0px 5px 5px rgba(46, 229, 157, 0.4);
  color: #0088cc;
}
.text-below-btn {
  margin: 3% 8%;
}
.text-below-btn h3 {
  color: white;
}
.text-below-btn h3 {
  font-size: 40px;
}

.grid-wrapper {
  margin-left: 7%;
  display: grid;
  width: auto;
  grid-template-columns: repeat(2, 1fr);
  height: 1%;
}
.image-grid1 {
  width: 48vw;
  overflow: hidden;
  transition: all ease 0.6s;
}

.image-grid1:hover {
  transform: scale(1.05);
  z-index: 2;
}
.image-grid2 {
  /* display: grid;
   grid-gap: 2px; */
  padding: 2px;
  width: fit-content;
}

.image-grid21 {
  width: 35vw;
  overflow: hidden;
  transition: all ease 0.6s;
}

.image-grid21:hover {
  transform: scale(1.05);
  z-index: 2;
}

.image-grid22 {
  width: 35vw;
  /* height: 30vh; */
  overflow: hidden;
  transition: all ease 0.6s;
  height: fit-content;
}

.image-grid22:hover {
  transform: scale(1.05);
  z-index: 2;
}
.bottom-div {
  /* width: 85vw; */

  display: flex;
  margin: 10% 7%;
  justify-content: space-evenly;
  gap: 5%;
}

.left-bottom-div {
  display: flex;
  width: 50%;
  line-height: 1.3;
  font-size: 20px;
  right: 0;
}

.right-bottom-div {
  display: flex;
  width: 50%;
  line-height: 1.3;
  font-size: 20px;
  position: relative;
  /* right: -100px; */
  gap: 5%;
}

.text-lower {
  color: white;
  font-weight: 700;
}

.text-lower-right {
  position: relative;
  margin-left: 2vw;
  color: white;
  font-weight: 700;
}
.right-bottom-div h3 {
  margin-left: 35%;
}
.wtext {
  font-weight: 600;
}
.tText {
  font-weight: 600;
}

.wi35px {
  margin-top: 3%;
  margin-right: 8px;
}
.ti35px {
  margin-top: 3%;
  margin-right: 8px;
}

/* @media screen and (max-height: 863px) and (min-height: 821px) {
  
     

  } */

@media (max-width: 820px), only screen and (width: 912px) and (height: 1368px) {
  .wtext {
    font-size: 3vw;
    font-weight: 700;
    margin-top: 2%;
  }

  .tText {
    font-size: 3vw;
    font-weight: 700;
    margin-top: 2%;
  }

  .hero {
    width: 100%;

    height: 100%;

    flex-wrap: wrap;
  }

  .main-left {
    width: 100%;
    height: 30%;
  }

  .shopAndSave h1 {
    font-size: 50px;
    margin-bottom: 10px;
  }
  .left-writ-tex {
    font-size: 30px;
    line-height: 1.3;
  }

  .buy-now-btn {
    font-size: 15px;
    padding: 5px 25px;
  }

  .main-right {
    width: 100%;
    height: 70%;
    position: relative;
    order: -1;
  }

  .main-right img {
    width: 100%;
    height: 100%;
  }

  .contact-button {
    position: relative;
    flex-direction: column;
    margin-top: 50px;
    gap: 50px;
  }

  .join-whatsapp-group {
    width: 100%;
  }

  .join-telegrma-group {
    width: 50%;
    display: flex;
  }

  .whatsapp-btn {
    font-size: 20px;

    margin: auto;
    font-size: 15px;
    /* padding: 5px 25px;     */
  }

  .join-telegrma-btn {
    font-size: 20px;

    margin: auto;
    font-size: 15px;
    /* padding: 5px 25px; */
  }

  .grid-wrapper {
    position: relative;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    gap: 5vw;
  }
  .image-grid1 {
    height: 50vw;
    width: 100%;
  }

  .image-grid1 img {
    width: 100%;
    height: 50vw;
  }

  .image-grid2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vw;
  }

  .image-grid21 {
    width: 100%;
    height: 40vw;
  }
  .image-grid21 img {
    height: 100%;
    width: 100%;
  }

  .image-grid22 {
    height: 40vw;
    width: 100%;
  }

  .image-grid22 img {
    height: 100%;
    width: 100%;
  }

  .text-below-btn h3 {
    font-size: 25px;
  }

  .bottom-div {
    width: 85vw;
    display: flex;
    margin: 10% 7%;
    justify-content: space-evenly;
    flex-direction: column;
  }

  .left-bottom-div img {
    width: 110px;
    height: 90px;
  }

  .left-bottom-div {
    display: flex;
    width: 100%;
    line-height: 1.3;
    font-size: 10px;
    right: 0;
    margin-bottom: 15px;
  }
  .text-lower {
    margin-top: 15px;
    margin-left: 15px;
    font-size: 4vw;
    font-weight: 500;
  }

  .right-bottom-div {
    display: flex;
    width: 100%;
    line-height: 1.3;
    font-size: 10px;
    position: relative;
    right: -15px;
  }
  .right-bottom-div img {
    width: 70px;
    height: 90px;
  }
  .text-lower-right {
    margin-top: 15px;
    margin-left: 10px;
    font-size: 4vw;
    font-weight: 500;
  }
}

 

@media (max-width: 386px) {
  .join-whatsapp-group {
    font-size: 10px;
  }

  .wtext, .tText{
   margin-top: 4%;
}

  .whatsapp-btn {
    font-size: 10px;
    padding: 5px 10px;
    font-weight: 800;
    background-color: #128c7e;
    color: #ffffff;
    cursor: pointer;
    transition-duration: 0.4s;
  }

  .join-telegrma-btn {
    font-size: 10px;
    padding: 5px 10px;
    font-weight: 800;
    background-color: #0088cc;
    color: #ffffff;
    cursor: pointer;
    transition-duration: 0.4s;
  }
  .btn {
    /* margin-top: 30px;
 height: 50px; */
    width: fit-content;
  }

  .btn a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
  }
  .btn a span {
    /* padding: 15px; */
    transition: 0.5s;
    position: relative;
  }
  .btn a span:nth-child(1) {
    color: #fff;
    background: #262626;
  }
  .btn a span:nth-child(2) {
    color: #fff;
    background: #ff3636;
  }
  .btn a span:nth-child(1):before {
    content: attr(data-attr);
    position: absolute;
    top: 0;
    left: 0;
    background: #ff3636;
    padding: 15px;
    transition: 0.5s;
    transform-origin: top;
    transform: rotateX(90deg) translateY(-50%);
  }
  .btn a:hover span:nth-child(1):before {
    transform: rotateX(0deg) translateY(0%);
  }
  .btn a span:nth-child(2):before {
    content: attr(data-attr);
    position: absolute;
    top: 0;
    left: 0;
    background: #262626;
    padding: 15px;
    transition: 0.5s;
    transform-origin: bottom;
    transform: rotateX(90deg) translateY(50%);
  }
  .btn a:hover span:nth-child(2):before {
    transform: rotateX(0deg) translateY(0%);
  }
  .btn a span:nth-child(1):after {
    content: attr(data-attr);
    padding: 15px;
    position: absolute;
    top: 0;
    left: 0;
    background: #262626;
    transform-origin: bottom;
    transform: rotateX(0deg) translateY(0%);
    transition: 0.5s;
  }
  .btn a:hover span:nth-child(1):after {
    transform: rotateX(90deg) translateY(50%);
  }
  .btn a span:nth-child(2):after {
    content: attr(data-attr);
    position: absolute;
    top: 0;
    left: 0;
    background: #ff3636;
    padding: 15px;
    transition: 0.5s;
    transform-origin: top;
    transform: rotateX(0deg) translateY(0%);
  }

  .btn a:hover span:nth-child(2):after {
    transform: rotateX(90deg) translateY(-50%);
  }

  .text-below-btn h3 {
    font-size: 20px;
    padding-top: 30px;
  }

  .left-bottom-div img {
    width: 80px;
    height: 60px;
  }

  .text-lower {
    font-size: 4vw;
  }

  .text-lower-right {
    font-size: 4vw;
    margin-left: 30px;
  }

  .right-bottom-div img {
    width: 30px;
    height: 50px;
  }
}
